<ion-header class="ion-no-border animate-header">
  <ion-toolbar color="first">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <div class="logo-container">
        <img src="assets/icon/logo.svg" alt="CostSplit" class="logo">
        <div class="title-text">
          <span class="app-name">CostSplit</span>
          <span class="app-slogan">Divide gastos sin complicaciones</span>
        </div>
      </div>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button class="notification-btn" (click)="verNotificaciones()">
        <div class="notification-icon">
          <ion-icon name="notifications-outline"></ion-icon>
          <div class="badge" *ngIf="tieneNotificaciones">{{numeroNotificaciones}}</div>
        </div>
      </ion-button>
      <ion-button class="profile-btn" (click)="verPerfil()">
        <ion-avatar>
          <img [src]="fotoUsuarioValida" alt="Perfil">
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
